rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Public media readable by all; upload requires authentication and image size <= 5MB
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated() 
                   && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}